.d-flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-arround {
  justify-content: space-around;
}

.justify-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}
