@font-face {
  font-family: Signika-Regular;
  src: url(/Project-trip/View/fonts/Signika-Regular.ttf);
}

@font-face {
  font-family: Signika-SB;
  src: url(/Project-trip/View/fonts/Signika-SemiBold.ttf);
}

.signika-reg {
  font-family: Signika-Regular;
}

.signika-sb {
  font-family: Signika-SB;
}

.text-center {
  text-align: center;
}

.size-1 {
  font-size: 1.5rem;
}
.size-2 {
  font-size: 2rem;
}
.size-3 {
  font-size: 2.5rem;
}
