{% extends 'base.html.twig' %}

{% block title %}Quizz
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('style_questions') }}
{% endblock %}

{% block body %}
<div id="lvl2"></div>
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('app') }}
{% endblock %}